/* Ini CSS */
body{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
article, .art-sec1, .art-sec2{
    border-bottom:2px solid black;
    width:100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:98%;
    border-bottom:2px solid black;
    border-top:2px solid black;
    padding: 10px;
}
.logo{
    height: 48px;
    width: 48px;
    background-image:url(https://i.pinimg.com/736x/58/77/2d/58772d99474dd179db6d94ad981948e8.jpg);
    background-size: cover;
    border-radius: 50%;
}
.nav{
    border: 1px solid;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
}
.nav-sec{
    display: flex;
}
#home{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#mess{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.banner-pic{
    height: 300px;
    background-image: url(https://assets.ggwp.id/2023/08/Build-Sampo-Honkai-Star-Rail-LC.jpg);
    background-size: cover;
    background-position: center;
}
.profile{
    height: 100px;
    text-align: center;
}
.profile-pic1{
    height: 200px;
    width: 200px;
    background-image: url(https://i.pinimg.com/736x/c0/ac/56/c0ac56a4752db5ca061eae8b98b96008.jpg);
    background-size: cover;
    background-position: center;
    border-radius:100px;
    margin: 50px 80px 50px 50px;
}
.sect{
    margin:50px 100px;
}
.sec-prof, .box, .box3{
    display:flex;
} 
.box2, .box{
    justify-content: space-between;
}
.box-border{
    border: 2px solid black;
}
.box2{
    width:50%;
    padding: 50px;
}
.art-sec1{
    height:450px;
}
.form-label{
    margin-right:50px;
}
.button{
    width:65%;
}
.input{
    width:50%;
}
input{
    margin-bottom:18px;
}
footer{
    text-align:right;
    height:40px;
}
@media screen and (max-width: 1150px) {
    .profile-pic1 {
      width: 150px;
      height: 150px;
    }
    h2{
        font-size:20px;
    }
    .box3{
        display:block;
    }
    .input{
        width:100%
    }
    .box{
        justify-content: baseline;
    }
    .div-label {
        width:60%
    }
    .button{
        width:100%
    }
    .box2{
        width:85%;
    }
}
@media screen and (max-width: 925px) {
    .profile-pic1 {
      width: 120px;
      height: 120px;
    }
    h2{
        font-size:15px;
    }
}
@media screen and (max-width: 850px) {
    nav{
        display:block;
        
    }
    .logo{
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        width: 70px;
        margin-bottom:20px;
    }
    #home{
        margin-left: auto;
    }
    #mess{
        margin-right: auto;
    }
    .sec-prof{
        display:block;
    }
    .profile-pic1{
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
        margin-bottom:10px;
    }
    .art-sec1{
        height:1000px;
    }
    .profile{
        margin-bottom:200px;
    }
    @media screen and (max-width: 600px) {
        .banner-pic{
            height:200px;
        }
        .nav{
            font-size:10px;
        }
        h1{
            font-size:20px;
        }
        p, label{
            font-size:12px;
        }
        .input{
            width:90%
        }
        .this{
            width:80%;
            padding:20px;
        }
    }
    @media screen and (max-width: 495px) {
        .banner-pic{
            height:200px;
        }
        .profile{
            margin-bottom:100px;
        }
        .profile-pic1{
            margin-left: auto;
            margin-right: auto;
            height: 150px;
            width: 150px;
            margin-bottom:10px;
        }
        .art-sec1{
            height:700px;
        }
        .nav{
            font-size:10px;
        }
        h1{
            font-size:20px;
        }
        #male, #female{
            font-size:8px;
        }
        p, label{
            font-size:10px;
        }
        
        .this{
            width:80%;
            padding:20px;
        }
    }
}